/* Navigation Menu for Desktop */

.rannox-brand-nav {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-box {
  width: 80px;
  height: 80%;
}
.logo-box img {
  width: 60%;
}
.rannox-brand-nav ul {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
.rannox-brand-nav ul li {
  margin: 0px 10px;
}
.rannox-brand-nav ul li a {
  padding: 0px 10px;
  font-size: 14px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.rannox-brand-nav ul li a:hover {
  border-bottom: 2px var(--a-color) solid;
}

/* Section 1 */
.hero1 {
  width: 100%;
  height: 90vh;
  background-color: var(--background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.welcome-to-rannox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.welcome-to-rannox h1 {
  font-size: 20vw;
  color: var(--brand-color);
  margin-left: -1.2vw;
  margin-top: -60px;
}
.welcome-to-rannox h2 {
  color: var(--normal-text-color);
  font-size: 5vw;
}
.welcome-to-rannox p {
  width: 50vw;
  color: var(--normal-text-color);
}
.hero1::before {
  position: absolute;
  content: "";
  opacity: 1;
  bottom: -55px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: var(--brand-color);
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
}
.hero1::after {
  position: absolute;
  content: "";
  bottom: -70px;
  left: 0;
  right: 0;
  height: 100px;
  background-color: var(--white);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  box-shadow: var(--brand-color) 5px 20px 80px;
}

.hero2 {
  width: 100%;
  height: 70vh;
}
.rannox-brand-all-in-one {
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.hero2-heading {
  width: 100%;
  height: 70vh;
}
.hero2-heading h1 {
  color: var(--background-color);
  font-size: 4vw;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero2-heading p {
  text-align: center;
  width: 55vw;
}

.hero3{
  width: 100%;
  height: 250vh;
  background-color: var(--black);
    position: relative;
    overflow: hidden;
    gap: 5vh;
}

.hero3::before,
.hero3::after{
  position: absolute;
  content: "";
  bottom: -55px;
  left: 0;
  right: 0;
  height: 90px;
  background-color: var(--brand-color);
  transform: skewY(-2deg);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  box-shadow: var(--brand-color) 5px 40px 80px;
}
.hero3::after{
      bottom: -70px;
      background-color: var(--white);
      transform: skewY(-1.5deg);
      -webkit-transform: skewY(-1deg);
      -moz-transform: skewY(-1.5deg);
      -ms-transform: skewY(-1.5deg);
      -o-transform: skewY(-1.5deg);
}

.Rannox-Brand-Development-offers{
  color: var(--white);
  font-size: var(--header-text-size);
  margin-bottom: 60px;
}
.Rannox-brand-offer-box{
  gap: 25px;
}

.brand-strategy, .brand-design{
  flex: 1;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--brand-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.brand-strategy h1, .brand-design h1{
  line-height: 2;
}
.brand-strategy{
  background-image: linear-gradient(90deg, #ccf400, #11111180), url(images/Rannox-Brand-Development-Strategy.jpg);
  background-position: center top;
  background-size: 150%;
  background-repeat: no-repeat;
}
.brand-design{
    background-image: linear-gradient(90deg, #ccf400, #11111180), url(images/Rannox-Brand-development-Editing.jpg);
  background-position: left top;
  background-size: 150%;
  background-repeat: no-repeat;
}

.hero4{
  width: 100%;
  height: 40vh;
}

